<style type=text/css> #Header1{margin-top:-10px}
#HTML4{margin-top:-12px;margin-right:-27px}
#PageList1{margin-bottom:0;margin-left:-12px;padding-bottom:0;width:1004px}
#ad1{bottom:0;height:280px;left:5px;position:relative;right:0;top:-2px;width:336px}
.more{background:#f4f4f4;border:5px solid #8632ff;border-radius:25px;color:red;font-size:18px;padding:2px}
a:hover{color:red;letter-spacing:0}
div.ex,div.ex2{border:0 solid #000}
.msgbox{position:absolute;top:15px;right:5px;top:100px;width:10em;background-color:#8632ff;border:1px solid #333;color:#fff;font-weight:700}
.msgbox p{margin:0;padding:5px 10px}
.msgbox a.close{float:right;text-decoration:none;font-weight:700;color:#333;background-color:#fff;border-left:1px solid #333;border-bottom:1px solid #333;margin-left:5px;padding:0 4px}
.profile-img{-moz-transition:width 1s ease-in-out, height 1s ease-out;-ms-transition:width 1s ease-in-out, height 1s ease-out;-webkit-transition:width 1s ease-in-out, height 1s ease-out;height:80px;padding:0 0 5px 5px;transition:width 1s ease-in-out, height 1s ease-out;width:80px}
.sidebar .widget{background:#fff;border:0 solid #999;margin:0 0 .5em;padding:0 0 0 3px}
a.one:link{-webkit-border-radius:5px;background:#F2EEEE;color:#2A120A;font-size:15px;padding:5px}
a.one:hover{background:#19A309;color:#FAFAFA}
a:hover{color:red;letter-spacing:0}
#sidebar-left-1{margin-left:-15px;margin-right:-10px;margin-top:6px}
.column-right-inner{margin-left:-25px;margin-right:-7px}
#sidebar-right-1{margin-right:-10px}
h2{background-color:#fff;color:#000;corner:-5px}
h4{background-color:#FFF;color:#FFF;padding-left:1px}
div.three{border-color:#BDBDBD;border-radius:10px;border-style:solid;border-width:1px;margin-bottom:-2px;margin-left:-5px;margin-top:-2px;padding-left:2px;width:auto}
.blog-pager-older-link,.home-link,.blog-pager-newer-link{background:#81F781;border-radius:20px;font-size:25px}
div.hdl1{background:#E6E6E6;color:#000;margin-left:0;padding:0;text-align:left}
div.aboutbox{background:#ECF8E0;border:2px solid green;color:#000;margin:0;padding:10px;width:1000px}
div.insideadsense{width:auto}
h1.i1{color:blue;font-family:Comic Sans MS}
.profile-img:hover,div.img1:hover{display:block;height:270px;width:290px}
ul.k{list-style-image: url('https://lh6.googleusercontent.com/-Wfh8Zzcz_8M/UjEvZ4lczmI/AAAAAAAABeY/qhaA64UxaiE/s7-no/square+for+list2.png');}
a.footerlink{color:#ffffff}
a.footerlink:visited{color:#fff}
a.footerlink:hover{text-decoration:underline}