<style type=text/css> #Header1{margin-top:-10px}
#HTML4{margin-top:-12px;margin-right:-27px}
#PageList1{margin-bottom:0;margin-left:-12px;padding-bottom:0;width:1004px}
#ad1{bottom:0;height:280px;left:5px;position:relative;right:0;top:-2px;width:336px}
.more{background:#f4f4f4;border:5px solid #8632ff;border-radius:25px;color:red;font-size:18px;padding:2px}
a:hover{color:red;letter-spacing:0}
div.ex,div.ex2{border:0 solid #000}
.blog-pager-older-link,.home-link,.blog-pager-newer-link{background:#81F781;border-radius:20px;font-size:25px}