<style>
.blog-pager, .footer, .post-footer, #relatedPostsWidget, .feed-links, .ex, #Gadget1, #Stats1, #HTML8,  #sidebar-left-1, #sidebar-right-1, #sidebar-right-2-1, #sidebar-right-2-2, #sidebar-right-3,  #Followers1, .date-header { display:none !important;}.main-inner .columns {width: 100%;padding-left:0 !important;padding-right:0 !important;}
</style>
