<style type='text/css'> 
.stx-update {
text-decoration: none !important;
position: fixed;
right:0px;
left:0px;
top: 0px;
display: block;
background-color: #8632FF !important;
text-align: center !important;
padding: 2px !important;
z-index: 9999 !important;
color: white !important;
font-size: 15px;
font-family: 'verdana' !important;
border-bottom: 5px solid rgba(255, 255, 255, 0.69);
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
opacity: 0.8;
overflow: hidden;
}
 
.stx-update:hover {
opacity: 1.0;
}

</style>